footer.container{
	background-color: $grey;
	width: 100%;
	max-width: 100%;
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

/* Hides the footer-nav on mobile (< 550px) */
#footer-nav {
	display: none;
}

/* Styles footer-nav on devices > 550px */
@media (min-width: 550px) {

	#footer-nav {
		display: block;
		max-width: 300px;
		margin: auto;

		ul {
			list-style-type: none;
			padding: 0;
			padding-top: 20px;
			margin: 0;
			position: relative;

			& :first-child {
				border: 0;
				border-radius: 20px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			& :last-child {
				border-radius: 20px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

		}

		li {
			display: block;
			text-align: center;
			padding: 5px 5px;
			border-left: 1px solid white;
			margin-left: 0;

			&:hover {
				box-shadow: 0 1px 5px $black;
				width: 6em;
			}
			transition: all 0.2s;

		}

		a {
			text-decoration: none;
			color: white;
		}
	}
}

#footer-contact {
	padding-top: 1em;
	max-width: 400px;
	margin: auto;

	div {
		text-align: center;
		margin-top: 10px;
		margin-left: 0;
	}

	
	div.row {
		/* styles contact number */
		& :first-child {
			position: relative;
			font-size: 1.5em;
			line-height: 1.2em;
			color: white;

			& svg {
				position: absolute;
				margin: 10px 5px;
				margin-bottom: 0;
				width: 0.5em;
				top: 0;
				transform: translate(-130%, -45%) rotate(20deg);
				left: 12;
			}
		}

		/* styles follow on facebook div */
		& :last-child {
			position: relative;
			font-size: 1.9em;
			line-height: 0.9em;
			color: white;
			margin-bottom: 30px;

			&:hover {
				text-decoration: underline;
			}

			& svg {
				position: absolute;
				margin: 10px;
				margin-bottom: 0;
				width: 0.5em;
				top: 0;
				transform: translate(0, -45%);
			}
		}
	}
}

#footer-copyright {
	background-color: white;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	padding: 10px 20px;
    text-align: center;
    font-size: 0.5em;
}
