.etabs { 
	margin: 0;
	padding: 0;
	}

.tab {
	display: inline-block;
	zoom:1;
	*display:inline;
	background: grey;
	border: solid 1px #999;
	border-bottom: none;
	margin-bottom: 0;
	transform: skew(-10deg);
	}

.tab a {
	font-size: 14px;
	line-height: 2em; 
	display: block; 
	padding: 0 10px; 
	outline: none;
	text-decoration: none;
	color: white;
	}

.tab a:hover {
	text-decoration: underline;
	}

.tab.active {
	background: $grey;
	padding-top: 6px; 
	position: relative; 
	top: 1px; 
	border-color: #666; 
	}

.tab a.active { 
	font-weight: bold; 
	}

.tab-container .panel-container { 
	background: #fff; 
	border: solid #666 1px; 
	padding: 10px; 
	-moz-border-radius: 0 4px 4px 4px; 
	-webkit-border-radius: 0 4px 4px 4px;
	}

div.tab-content {
	background-color: $grey;
	min-height: 250px;
	padding-top: 1em;
	color: white;

	p {
		display: inline-block;
		float: left;
		padding-left: 1rem;
	}
	/* styles price tag */
	p:last-of-type {
		float: right;
		padding-right: 1rem;
	}
	
	/* clearfix */
	div {
		clear: both;
		overflow: hidden;
	}
}
