.etabs { 
	margin: 0;
	padding: 0;
	}

.tab {
	display: inline-block;
	zoom:1;
	*display:inline;
	background: grey;
	border: solid 1px #999;
	border-bottom: none;
	margin-bottom: 0;
	transform: skew(-10deg);
	max-width: 18%;
	padding-top: 1rem;
	}


.tab a {
	font-size: 14px;
	line-height: 1.5em; 
	display: block; 
	padding: 0 10px; 
	outline: none;
	text-decoration: none;
	color: white;
	}

.tab a:hover {
	text-decoration: underline;
	}

.tab.active {
	background: $grey;
	padding-top: 6px; 
	position: relative; 
	top: 1px; 
	border-color: #666; 
	}

.tab a.active { 
	font-weight: bold; 
	}

.tab-container, .panel-container {
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	}

div.tab-content {
	background-color: $grey;
	min-height: 250px;
	max-width: 1500px;
	padding-top: 1em;
	color: white;

	p {
		display: inline-block;
		float: left;
		padding-left: 1rem;
		background-color: $grey;
	}
	/* styles price tag */
	p:last-of-type {
		float: right;
		padding-right: 1rem;
	}
	
	div {
		/* clearfix */
		clear: both;
		overflow: hidden;
		//
		&:before {
		    float: left;
		    width: 0;
		    white-space: nowrap;
		    content:
			 ". . . . . . . . . . . . . . . . . . . . "
			 ". . . . . . . . . . . . . . . . . . . . "
			 ". . . . . . . . . . . . . . . . . . . . "
			 ". . . . . . . . . . . . . . . . . . . . "}
	}
}
